.collection-cover-container {
  /* Common hover effects handled by .cover-hover-effect class */
}

.collection-cover-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease, background-color 0.2s ease;
  z-index: 3;
}

.collection-cover-play-button:hover {
  background-color: rgba(229, 160, 13, 0.9);

}

.collection-cover-container:hover .collection-cover-play-button {
  opacity: 1;
  background-color: rgba(229, 160, 13, 0.9);
}

.collection-cover-play-button svg {
  width: 24px;
  height: 24px;
  color: #ffffff;
  margin-left: 3px;
}


