.games-list-container {
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  gap: 40px;
  justify-content: center;
}

.games-list-item {
  flex-shrink: 0;
}

.games-list-title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  font-size: 0.85rem;
  font-weight: 500;
  color: #f8f8f8;
  background-color: transparent;
  padding: 0;
}

