.game-detail-page {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.game-detail-libraries-bar-transparent .plex-libraries-bar {
  background-color: transparent !important;
}