.home-page-content {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.home-page-layout {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.home-page-scroll-container {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.home-page-scroll-container.table-view {
  padding-top: 0;
  padding-bottom: 0;
}

.home-page-scroll-container:not(.table-view) {
  padding-top: 5px;
  padding-bottom: 32px;
}

.home-page-alphabet-container {
  width: 48px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 16px;
}

.home-page-main-container {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
