.search-results-page {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.search-results-page-empty {
  width: 100%;
  height: 100%;
}

.search-results-header {
  max-width: 80rem;
  margin: 0 auto;
  padding: 16px 48px;
  flex-shrink: 0;
}

.search-results-header-content {
  margin-bottom: 8px;
  margin-top: 8px;
}

.search-results-title {
  font-size: 18px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.5;
  margin-bottom: 8px;
}

.search-results-count {
  font-size: 18px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.5;
}

.search-results-content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.search-results-content-inner {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 48px 32px 48px;
  padding-top: 0px;
}

